*{
    font-family: 'Patrick Hand', cursive;
    color: palegreen;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegreen;
}
.title{
    position: absolute;
    top: 200px;
    scale: 0;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg-mobile{
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 0;
}
.blur{
    filter:blur(4px);
}
.container{
    position: relative;
    width: 400px;
    height: 105px;
    background-color: #013220;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: .6s ease-out;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    color: palegreen;
    background-color: #013220;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}
.search-box input::placeholder{
    font-size: 24px;
    font-weight: 500;
    color: seagreen;
    text-transform: capitalize;
}
.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: palegreen;
    background-color: seagreen;
    border-radius: 50%;
    font-size: 15px;
    transition: .4s ease;
}
.search-box button:hover{
    color: seagreen;
    background-color: palegreen;
}
.fa-location-dot{
    color: palegreen;
    position: absolute;
    font-size: 22px;
}
.weather-box{
    text-align: center;
}
.weather-box img{
    width: 60%;
    margin-top: 30px;
}
.weather-box .temperature{
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left: -15px;
}
.weather-box .temperature span{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.5rem;
}
.weather-box .description{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}
.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details i{
    font-size: 26px;
    margin-right: 10px;
    margin-top: 10px;
}
.weather-details span{
    font-size: 22px;
}
.weather-details p{
    font-size: 14px;
}
.weather-box, 
.weather-details{
    scale: 0;
    opacity: 0;
}
.not-found{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    scale: 0;
    opacity: 0;
    display: none;
}
.not-found img{
    width: 90%;
}
.fadeIn{
    animation: .5s fadeIn forwards;
    animation-delay: .1s;
}
@keyframes fadeIn {
    to{
    scale: 1;
    opacity: 1;
    }
}
#switch-dark{
    background-color: lightgray;
    border: solid 4px #013220;
    color: #013220;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    outline-width: 5px;
    position: absolute;
    top: 5%;
    right: 10%;
    width: 100px;
    transition: background 0.3s, color 0.3s;
}
#switch-dark:hover{
    background-color: #013220;
    color: lightgray;
}

/* DARK MODE */

body.dark{
    background-color: darkolivegreen;
}

/* MOBILE */
@media screen and (max-width: 600px){
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .search-box{
        width: 100%;
    }
    .container{
        margin-top: 150px;
        overflow-x: hidden;
        width: 350px;
    }
    .bg{
        display: none;
    }
    .bg-mobile{
        scale: 1.1;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .title{
        scale: 1;
        font-family: 'Kalam', cursive;
        font-size: 60px;
        color: #1b1b1b;
    }
    #switch-dark{
        display: none;
    }
}